.label{
    -fx-text-fill: #00FF00;
}

.button{
    -fx-text-fill: #000000;
    -fx-background-color: #00FF00;
}

.button:hover {
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:pressed{
    -fx-background-color: #00AA00;
}


.check-box .box{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 0px;
}

.check-box .box:hover{
    -fx-cursor: hand;
    -fx-border-color: white;
}

.check-box:selected .mark {
    -fx-background-color: black;
}

.imagebutton{
    -fx-background-color: transparent;
}

.imagebutton:hover {
    -fx-cursor: hand;
}

.imagebutton:pressed{
    -fx-opacity: 0.5;
    -fx-background-color: transparent;
}